body{
  alignment: center;
  background: #87ff3a;
  background-attachment: scroll;
  background-image: url("");
}
.lab{
  alignment: center;
  min-font-size: 60px;
  background: #26ff3c;
  line-height: 30px;
  text-indent: 20px;
  text-transform: capitalize;
  white-space: pre-wrap;
  font-family: serif;
  font-weight: lighter;
  border-top:3px #00f groove ;
  min-width:40px;
  color: white;

}
.inp:indeterminate{
  border-top:5px #00f groove ;
}
.inp {
  padding: 5px;
  alignment: center;
  color: #0000ff;
  /*text-align: center;*/
  font-weight: bold;
  font-size: medium;


}

p{
  alignment: center;
  text-transform: capitalize;
  background: #26ff3c;
  font-weight: bolder;
  min-width: 30%;
  max-width: 35%;
  margin: auto;
  border-top:3px #00f groove ;
  color: white;


  /*border: rgb(38, 253, 60) groove 5px;*/

}
a{
  text-transform: capitalize;
  text-decoration: none;
  alignment: center;
  color: white;
  font-weight: bolder;



}
a:hover{
  font-size: larger;
  color: #00f;
  font-weight: bolder;

}
a:active{
  color: green;
}
